<div class="container">
  <div class="row mb-3 bg-success text-white">
    <div class="col-6 p-2">
      <div>
        <h1>{{fullName}}</h1>
        <p class="fs-4">{{ profession | uppercase }}</p>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end p-2">
      <div class="" style="height: 180px; width: 180px;">
        <img class="rounded-circle" style="width: 100%; height: 100%; object-fit: cover;" [src]="image" alt="photo">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <div class="text-center text-success">
          <p class="p-2 fs-4 fw-bold border border-2 border-success">{{ contactsTitle | uppercase }}</p>
      </div>
    </div>
    <div class="col-9">
      <ul>
        <li><span class="fw-bold">Email:</span> {{email}}</li>
        <li><span class="fw-bold">Phone:</span> {{phone}}</li>
        <li><span class="fw-bold">Location:</span> {{location}}</li>
        <li *ngFor="let contact of contactsList">
          <span class="fw-bold">{{contact.name}}: </span>
          <a [href]="contact.link" target="_blank">{{contact.link}}</a>
      </li>
      </ul>
    </div>
  </div>

  <app-work-experience></app-work-experience>
  <app-skills-education></app-skills-education>
</div>